[Unit]
Description=SNIF Relay

[Service]
User=snifd
Group=snifd
AmbientCapabilities=CAP_NET_BIND_SERVICE
LimitNOFILE=1048576
ExecStart=/usr/bin/snifd -t 64 -i /home/snif/var/snifd-in.ctl -p /home/snif/var/snif-apnsd.ctl 443 993 465 2222 7193 7165 7183 7357

[Install]
WantedBy=multi-user.target
